<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Profile</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static',filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="{{ url_for('home') }}" class="logo d-flex align-items-center">
            <img src="{{ url_for('static',filename='assets/img/logo.png') }}" alt="">
            <span class="d-none d-lg-block">Manage69</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ url_for('home') }}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->


        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('directory') }}">
                <i class="bi bi-people-fill"></i>
                <span>Directory</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ url_for('performance') }}">
                <i class="bi bi-journal-bookmark-fill"></i>
                <span>Performance Note</span>
            </a>
        </li><!-- End Login Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ url_for('cert') }}">
                <i class="bi bi-trophy-fill"></i>
                <span>Certificates</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ url_for('attendance') }}">
                <i class="bi bi-calendar-check-fill"></i>
                <span>Attendances</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ url_for('important1') }}">
                <i class="bi bi-file-earmark-medical-fill"></i>
                <span>Important Documents</span>
            </a>
        </li><!-- End Register Page Nav -->

        

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ url_for('training1') }}">
                <i class="bi bi-lightning-fill"></i>
                <span>Employee Trainings</span>
            </a>
        </li><!-- End Error 404 Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{{ url_for('leave1') }}">
              <i class="bi bi-ui-checks"></i>
              <span>Leave</span>
          </a>
      </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ url_for('portfolio') }}">
                <i class="bi bi-info-circle-fill"></i>
                <span>Portfolio</span>
            </a>
        </li><!-- End Blank Page Nav -->

    </ul>

</aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4" style="width: 20%;">

          <div class="card" >
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <div style="width: 200px;height: 200px;
              background-position: center center;
              background-repeat: no-repeat;
              overflow: hidden; ">
                <img src='https://{{bucket}}.s3.amazonaws.com/emp-id-{{data[0]}}_image_file.jpg' alt="Profile" style="min-height: 100%;
                min-width: 100%; 
                
                " >
              </div>
              
              <h2>{{data[1]}} {{data[2]}}</h2>
              
            </div>
          </div>

        </div>

        <div class="col-xl-8" style="width: 80%;">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Performance</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Certificates</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-payroll">Payroll</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">ID</div>
                    <div class="col-lg-9 col-md-8">{{data[0]}}</div>
                  </div>
                  
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">First Name</div>
                    <div class="col-lg-9 col-md-8">{{data[1]}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Last Name</div>
                    <div class="col-lg-9 col-md-8">{{data[2]}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Primary Skill</div>
                    <div class="col-lg-9 col-md-8">{{data[3]}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Location</div>
                    <div class="col-lg-9 col-md-8">{{data[4]}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Salary Rate</div>
                    <div class="col-lg-9 col-md-8">{{data[5]}}</div>
                  </div>

                  

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action="/saveProfile" autocomplete="on" method = "POST" enctype="multipart/form-data">
                    <div class="row mb-3" style="display: none">
                      <label for="inputText" class="col-sm-2 col-form-label">ID</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="emp_id" value={{data[0]}} >
                      </div>
                    </div>
          
                    <div class="row mb-3">
                      <label for="inputText" class="col-sm-2 col-form-label">First Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="first_name" value={{data[1]}}>
                      </div>
                    </div>
          
                    <div class="row mb-3">
                      <label for="inputText" class="col-sm-2 col-form-label">Last Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="last_name" value={{data[2]}}>
                      </div>
                    </div>
          
                    <div class="row mb-3">
                      <label for="inputText" class="col-sm-2 col-form-label">Primary Skill</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="pri_skill" value={{data[3]}}>
                      </div>
                    </div>
          
                    <div class="row mb-3">
                      <label for="inputText" class="col-sm-2 col-form-label">Location</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="location" value={{data[4]}}>
                      </div>
                    </div>
          
                    <div class="row mb-3">
                      <label for="inputNumber" class="col-sm-2 col-form-label">Salary Rate</label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" name="salary_rate" value={{data[5]}}>
                      </div>
                    </div>
          
                    <div class="row mb-3">
                      <label for="inputNumber" class="col-sm-2 col-form-label">Profile image</label>
                      <div class="col-sm-10">
                          <input class="form-control" name="emp_image_file" type="file" accept="image/png, image/jpg, image/jpeg" id="formFile">
                      </div>
                    </div>
          
                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label"></label>
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label"></label>
                      <div class="col-sm-10">
                        
                        <button type="submit" class="btn btn-primary" style="background-color: red; border-color: red;" name="input" type="submit"
                        formaction="/deleteProfile"
                        value={{data[0]}}>Delete</button>
                      </div>
                    </div>

                  </form><!-- End General Form Elements -->

                  

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Performance Form -->
                  <form action="/performanceAdd" autocomplete="on" method = "POST" enctype="multipart/form-data">

                    <table class="table table-hover" >
                      <thead>
                        <tr >
                          <th scope="col" >ID</th>
                          <th scope="col" >Date</th>
                          <th scope="col" >Note</th>
                          <th scope="col" ></th>
                          <th scope="col" ></th>
                          <th scope="col" ></th>
                          <th scope="col" ></th>
                          <th scope="col" ></th>

                        </tr>
                      </thead>
                      <tbody>
                        {% for row in performance %}    
                        
                          <tr>
                              <td>{{row[0]}}</td>
                              <td>{{row[1]}}</td>
                              <td colspan="6" style="word-wrap: break-word ; max-width: 1px;" >{{row[2]}}</td>
                              
                              <td>
                                
                                  <button formtarget="_blank"
                                  name="input" type="submit"
                                  formaction="/performanceDetail"
                                  value={{row[0]}}>View / Edit</button>
                                
                          </tr>
                        
                        {% endfor %}
                        
                      </tbody>
                    </table>
                    <!-- End Table with hoverable rows -->

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" name="input" value={{data[0]}} formtarget="_blank">Add new note</button>
                    </div>
                  </form><!-- End settings Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Cert Form -->
                  <form action="/certAdd" autocomplete="on" method = "POST" enctype="multipart/form-data">

                    <table class="table table-hover" >
                      <thead>
                        <tr >
                          <th scope="col" >ID</th>
                          <th scope="col" >Date</th>
                          <th scope="col" >Certificate Name</th>
                          <th scope="col" >Given By</th>
                          <th scope="col" ></th>
                          <th scope="col" ></th>
                          <th scope="col" ></th>
                          

                        </tr>
                      </thead>
                      <tbody>
                        {% for row in cert %}    
                        
                          <tr>
                              <td>{{row[0]}}</td>
                              <td>{{row[1]}}</td>
                              <td>{{row[2]}}</td>
                              <td colspan="4" style="word-wrap: break-word ; max-width: 1px;" >{{row[3]}}</td>
                              
                              <td>
                                
                                  <button formtarget="_blank"
                                  name="input" type="submit"
                                  formaction="/certDetail"
                                  value={{row[0]}}>View / Edit</button>
                                
                          </tr>
                        
                        {% endfor %}
                        
                      </tbody>
                    </table>
                    <!-- End Table with hoverable rows -->

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" name="input" value={{data[0]}} formtarget="_blank">Add new certificate</button>
                    </div>
                  </form><!-- End cert Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-payroll">
                  <!-- Payroll -->
                  

                    <table class="table table-hover" >
                      <thead>
                        <tr >
                          <th scope="col" >ID</th>
                          <th scope="col" >Date</th>
                          <th scope="col" >Amount</th>
                          

                        </tr>
                      </thead>
                      <tbody>
                        {% for row in payroll %}    
                        
                          <tr>
                              <td>{{row[0]}}</td>
                              <td>{{row[1]}}</td>
                              <td>{{row[2]}}</td>
                              
                              <td>
                                
                                  
                                
                          </tr>
                        
                        {% endfor %}
                        
                      </tbody>
                    </table>
                    <!-- End Table with hoverable rows -->

                    <!-- End cert Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static',filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/chart.js/chart.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/echarts/echarts.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/quill/quill.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
  <script> 
    function sendTimeToServer(){
        var time = new Date();
        var i = document.createElement("img");
        i.src = "/getTime?time=" + time;
        document.getElementById("time").innerHTML = time;
    }
    </script>

</body>

</html>